GitPython==3.1.27
joblib==1.1.0
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpy==1.23.2
pandas==1.4.3
pickleshare==0.7.5
scikit-learn==1.0.2
seaborn==0.11.2
sklearn==0.0
smmap==5.0.0
streamlit==1.12.0